.map {
  width: 100%;
  height: 100%;
}

.marker {
  background-color: #383838;
  color: #fff;
  padding: 6px 10px;
  border-radius: 13px;
  margin-left: -7px;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-container path {
  stroke-width: 6;
  stroke: #1186e8;
}